<p>
  <strong>First Name:</strong>
  <%= @location.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @location.last_name %>
</p>

<p>
  <strong>location:</strong>
  <%= @location.location %>
</p>

<p>
  <strong>contact_name:</strong>
  <%= @location.contact_name %>
</p>
