<p>
  <strong>Full name:</strong>
  <%= @senior.cat_senior_name(@senior.first_name, @senior.last_initial) %>
</p>

<p>
  <strong>Info:</strong>
  <%= @senior.info %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @senior.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @senior.updated_at %>
</p>
